.Home {
    padding: 0rem 0rem;
    height: 100vh;
     overflow-y: scroll; 
    overflow-x: hidden;
  }

  .FindByCar {
    font-family: var(--font-family);
    font-size: 2.5rem;
    text-align: center;
  }
  
  .TopCategories {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: var(--font-family);
    font-size: 2.5rem;
    text-align: center;
  
  }
  
  @media screen and (max-width:992px) {
    html {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:800px) {
    html {
      font-size: 10px;
    }
  
  }