.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0rem 4rem;
    font-family: var(--font-family);
}

.logo {
    width: 10rem;
    height: 2rem;
}

.NavMenu {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.NavMenuElement {
    text-decoration: none;
    color: black;
}

.active {
    text-decoration: underline;
    color: var(--primary-color);
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--primary-color);
    
}

.NavMenuElement:hover {
    opacity: 0.3;
}

.RegisterCart {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.CartIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.RegisterButton {
    border: 1px solid var(--primary-color);
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    font-family: var(--font-family);
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
    cursor: pointer;
}
.RegisterButton:hover {
background-color: var(--primary-color);
color: white;
}

.IoMenu {
    font-size: 3rem;
    display: none;
}
.IOMenuContaainer {
    display: none;
}
.IoMdClose {
    color: #937DC2;
    font-size: 2rem;
    margin-bottom: 3.5rem;
}
.SideBarContainer {
    padding: 1.8rem 0 16rem 1.25rem;
    display: none;
    position: absolute;
    max-width: 40vw;
    width: 40vw;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.NavMenu-SideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.NavMenu-SideElement {
    font-family: var(--font-family);
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.ShowSideBar {
display: block;
}
.RegisterCart-SideBar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.CartIcon-SideBar {
    width: 3rem;
    height: 3rem;
}
.RegisterButton-Side {
    border: 1px solid var(--primary-color);
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    font-family: var(--font-family);
    background-color: white;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
    cursor: pointer;
  
}
@media screen and (max-width: 600px) {
    ul.NavMenu {
        display: none;
    }
    .RegisterCart {
        display: none;
    }
    .IOMenuContaainer {
        display: block;
    }
    .IoMenu  {
        display: block;
    }
    .NavBar {
        padding-right: 0;
    }
}